.contents_3clum{
  margin: 0  0 35px 0;
  padding-bottom: 40px;
  overflow:hidden;
  width:960px;
  border-bottom:1px solid #D6D6D6;
}

.contents_3clum h3{
  font-family:"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",
  "MSP明朝", "MS PMincho", serif;
  font-size: 140%;
  color: #FFA4A6;
  margin-bottom: 10px;
}

.contents_3clum .section:nth-of-type(2) h3{
  color: #00468C;

}


.contents_3clum .section:nth-of-type(3) h3{
  color:#8C6900;

}

.contents_3clum .section{
  float:left;
  width:300px;
  margin-right:30px;
}

.contents_3clum .section.last{
  margin-right:0px;
}

.contents_3clum .section h4{
  font-weight: bold;
  margin-bottom: 5px;
}

.wrap{
  width:960px;
  margin:auto;
  overflow:hidden;
}

.contents_5clum {
  margin: 0 0 35px 0;
  padding-bottom: 40px;
  overflow:hidden;
  width:990px;
  border-bottom: 1px solid #D6D6D6;
}

.contents_5clum .section {
  float:left;
  width:168px;
  margin:0 30px 30px 0;
}

.contents_5clum h3{
  font-weight: bold;
  margin-bottom: 5px;
}

.cen_box {
  margin-left:200px;
}
.cen_box .section{
  float:left;
  
  width:200px;
  margin: 0 0 35px 0;
}

