.wrapper div{
  -moz-box-sizing:border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  padding:1%;
  position:relative;
}

.header,.footer,.wrapper{
  width:100%;
}

.header{
  padding:40px 20px;
  margin-bottom:20px;
  border-top: 6px solid ##a0d8ef;
}

.dotted-line{
	border-bottom:1px dotted #999;
    padding-bottom:5px;
}

.menu{
  margin: 0 auto 20px auto;
  text-align:center;
}

.menu li {
  display: inline;
  width: 6em;
  margin: 0 20px 10px 0;
  font-size: 1.3em;
  padding:10px 20px 10px 24px;
}

.head-title {
 background: url(./bg.jpg) repeat-x 0 0;
 color:white;
 text-align:center;
 padding:20px 0;
 font-size: 1.6em;
}

.left-box , .right-box{
  width:25%;
}

.primary{
  width:50%;
  left:-25%;
}

.right-box{
  left:50%;
}

.left-box{
 float:left;
}

.primary, .right-box{
 float:right;
}

.footer {
 text-align:center;
 color:#FFF;
 padding:20px 0;
 background: #333;
 clear:both;

}
